body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}
.alamat{
    position: relative;
    left: 100px;
    font-size: 11px;
}
header {
    position: relative;
    z-index: 1000;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid gainsboro;
}

.logo {
    display: flex;
    position: relative;
    height: 100px;
    right: 20px;
    padding-left: 60px;
    padding-right: 90px;
}

.navbar {
    position: relative;
    top: 0;
    left: 120px;
    width: 100%;
    background-color: transparent;
    padding: 15px 0;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list li {
    margin-right: 70px; /* Adjust the margin as needed */
}

.nav-list a {
    text-decoration: none;
    font-size: 14px;
    color: black;
    transition: color 0.3s ease-in-out;
}

.nav-list a:hover {
    color: #ffc107; /* Warna saat tautan dihover */
}

.nav1, .nav2 {
    display: flex;
    align-items: center;
}


.page1{  
    min-height: 10vh;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-image: url(/img/home.jpg);
    height: 500px;
}
.carousel {
    padding-top: 20px;
    width: 1500px;
    height: 635px;
    overflow: hidden;
    position: relative;
    margin: auto;

}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;


}

.slide {
    min-width: 100%;
    overflow: hidden;

}

.slide img {
    width: 100%;
    height: auto;

}

#prev,
#next {
    position: absolute;
    top: 400px;
    font-size: 50px;
    cursor: pointer;
    border-radius: 50%;
    padding: 8px;
    color: black;
    font-style: bold;
    user-select: none;
    transition: transform 0.3s ease;
    z-index: 1000;
}

#prev:hover,
#next:hover {
    transform: scale(1.7);
}

#prev {
    left: 35px;
}

#next {
    right: 35px;
}
.page2{
    margin-bottom: 50px;
}
.page2 h4{
    text-align: center; 
    font-family: "Whisper", cursive;
    font-weight: 900;
    font-style: normal;
    font-size: 30px;
}
.page2 h3{
    text-align: center;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #bea493;
}
.page2 .hot h3::before,
.page2 .hot h3::after {
    content: "";
    display: inline-block;
    width: 100px; 
    border-top: 19px solid #fff1e7; 
    margin: 0 15px; 
}
.rec{
    max-width: 1300px;
    width: 100%;
    position: relative;
    left: 100px;
}
.slider-wrapper{
    position: relative;
}
.slider-wrapper .slide-button{
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    color: #fff;
    border: none;
    outline: none;
    background: #000;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
    z-index: 1000;
 }
.slider-wrapper .slide-button:hover{
    background: #444;
}
.slider-wrapper .slide-button#sebelum-slide{
    left: -20px;
    display: none;
}
.slider-wrapper .slide-button#lanjut-slide{
    right: -5px;
}
 .slider-wrapper .image-list{
    position: relative;
    display: grid;
    gap: 30px;
    font-size: 0;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(10,1fr);
}
.slider-wrapper .image-list::-webkit-scrollbar{
    display: none;
}
.slider-wrapper .image-list .image-item{
    width:300px;
    height: 300px;
    object-fit: cover;
}

.rec .slider-scrollbar{
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}
.page3{
    margin-bottom: 70px;
}
.page3 h4{
    text-align: center; 
    font-family: "Whisper", cursive;
    font-weight: 900;
    font-style: normal;
    font-size: 30px;
}
.page3 h3{
    text-align: center;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #bea493;
}
.page3 .hot h3::before,
.page3 .hot h3::after {
    content: "";
    display: inline-block;
    width: 100px; 
    border-top: 19px solid #fff1e7; 
    margin: 0 15px; 
}
.container2{
    width: 1100px;
    height: 600px;
    padding-left: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.gambarlist{
    margin-bottom: 10px;
    padding-bottom: 100px;
}

.gambar1{
    text-align: right;
    position: relative;
    left: 550px;
}
.gambar2{
    position: relative;
    bottom: 400px;
    left: 270px;
    border-radius: 10%;
}
.gambar3{
    position: relative;
    bottom: 360px;
    left: 270px;

}
.gambar4{
    position: relative;
    bottom: 760px;
    right: 70px;
}

.site-footer .row {
    background-color: orange;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px 50px 50px 50px;
    margin: -8px -8px 0px -8px;
}

.site-footer .col-md-3 {
    width: calc(25% - 30px); 
    padding: 0 15px;
    box-sizing: border-box;
}

.delivery .image img {
    width: 75px; 
    height: auto;
    border-radius: 5px;
}


.social-icons img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.delivery h3 , .tentang-kami h3, .kontak h3, .social-media h3 {
    margin-bottom: 15px;
    color: yellow;
    opacity: 0.7;
}

.delivery p , .tentang-kami p, .kontak p, .social-media p{
    color: white;
    font-size: 13px;
}


.tentang-kami p, .kontak p {
    margin-bottom: 15px;
}

.social-icons i {
    position: relative;
    left: 20px;
    font-size: 30px; 
    margin-right: 40px; 
}

.by{
    color: white;
    font-size: 10px;
    margin-top: 35px;
}