<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Link ke file CSS eksternal -->
  <link rel="stylesheet" href="style.css">
  <title><%= title %></title>
  <!-- Link ke Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <!-- Link ke Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Whisper&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Madimi+One&family=Whisper&display=swap" rel="stylesheet">
  <!-- Link ke gambar dari Remixicon -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
  <!-- Link file JavaScript -->
  <script src="index.js"></script>
</head>
<body>
    <!-- Bagian alamat yang paling atas -->
    <div class="alamat">
        Jl. Letjen S. Parman No.1 3, RT.3/RW.8, Tomang, Kec. Grogol petamburan, Kota Jakarta Barat, Daerah Khusus Ibukota Jakarta 11440
    </div>
    <!-- Bagian header -->
    <%- include('layout/header') %>

    
  <!-- Bagian carousel untuk slide gambar -->
  <div class="carousel">
    <div class="slides">
        <div class="slide">
            <img src="img/banner3.jpg" alt="Slide 1">
        </div>
        <div class="slide">
            <img src="img/banner2.jpg" alt="Slide 2">
        </div>
        <div class="slide">
            <img src="img/banner.jpg" alt="Slide 3">
        </div>
    </div>
</div>

<!-- Tombol Sebelum dan Sesudah untuk carousel -->
<div id="prev">&lt;</div>
<div id="next">&gt;</div>

<br><br>
<br><br>


<!-- JavaScript untuk fungsionalitas carousel -->
<script>
    // Mendapatkan/Menangkap elemen-elemen menggunakan DOM
    const carousel = document.querySelector('.carousel'); // Mendapatkan class carousel
    const slides = document.querySelector('.slides');// Mendapatkan class slides
    const slideItems = document.querySelectorAll('.slide');// Mendapatkan class elemen slide
    const prevButton = document.getElementById('prev');// Tombol sebelumnya
    const nextButton = document.getElementById('next');// Tombol selanjutnya

    // Variabel untuk melacak indeks slide saat ini
    let currentIndex = 0;
    // Mendapatkan lebar slide
    const slideWidth = slideItems[0].clientWidth;
    // Interval otomatis untuk perpindahan slide
    const autoSlideInterval = 2000; // Waktu dalam milidetik antara perpindahan otomatis

    // Fungsi untuk memperbarui posisi slide
    function updateSlidePosition() {
        slides.style.transform = `translateX(${-currentIndex * slideWidth}px)`;
    }

    // Fungsi untuk slide selanjutnya
    function nextSlide() {
        currentIndex = (currentIndex + 1) % slideItems.length;
        updateSlidePosition();
    }

    // Fungsi untuk slide sebelumnya
    function prevSlide() {
        currentIndex = (currentIndex - 1 + slideItems.length) % slideItems.length;
        updateSlidePosition();
    }

    // Fungsi untuk slide otomatis
    function autoSlide() {
        //Memanggil function nextSlide()
        nextSlide();
    }

    // Event listener untuk tombol selanjutnya
    nextButton.addEventListener('click', () => {
        clearInterval(autoSlideIntervalId); // Menghentikan perpindahan otomatis saat tombol next diklik
        nextSlide();
    });

    // Event listener untuk tombol sebelumnya
    prevButton.addEventListener('click', () => {
        clearInterval(autoSlideIntervalId);
        prevSlide();
    });

    // Memulai interval untuk slide otomatis
    let autoSlideIntervalId = setInterval(autoSlide, autoSlideInterval);

    // Menambahkan event listener untuk menghentikan perpindahan otomatis saat hover pada carousel
    carousel.addEventListener('mouseenter', () => {
        clearInterval(autoSlideIntervalId);
    });

    // Menambahkan event listener untuk melanjutkan perpindahan otomatis saat keluar dari hover pada carousel
    carousel.addEventListener('mouseleave', () => {
        autoSlideIntervalId = setInterval(autoSlide, autoSlideInterval);
    });

</script>
<!-- Bagian produk -->
<%- include('layout/promoLayout') %>
    <!-- Ini adalah footer dari bagian website  -->
    <%- include('layout/footer') %>
    
</body>
</html>
