body {
    margin: 0;
    background-image: url('../img/background_coba.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 450px;
    height: 500px;
    margin: 100px auto;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, .5);
    border-top: 2px solid black;
    border-left: 2px solid black;
    font-weight: bold;
}

.header {
    text-align: center;
    line-height: 80px;
    font-size: 25px;
}

.ri-user-line {
    font-size: 25px;
}

.mb-3 {
    margin-left: 5px;
}

button {
    width: 200px;
    height: 30px;
    margin-left: 120px;
    margin-top: 10px;
    box-shadow: 5px 5px 5px 2px rgb(0, 0, 0, .5);
}


.footer {
    text-align: center;
    margin-top: 20px; /* Sesuaikan dengan jarak yang diinginkan */
}

.footer p {
    margin: 0;
}

.footer a {
    color: blue;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}