<footer class="site-footer">
    <div class="container3">
        <div class="row">
            <div class="col-md-3">
                <!-- Bagian Delivery bagian footer -->
                <div class="delivery">
                    <h3>Delivery Service</h3>
                    <div class="image">
                        <img src="../img/gofood.jpg">
                        <img src="../img/grabfood.jpg">
                        <img src="../img/shopee.jpg">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <!-- Bagian tentang kami bagian footer -->
                <div class="tentang-kami">
                    <h3>Golden Grain</h3>
                    <p>Jl. Letjen S. Parman No.1 3, RT.3/RW.8, Tomang, Kec. Grogol petamburan, Kota Jakarta Barat,
                        Daerah Khusus Ibukota Jakarta 11440</p>
                </div>
            </div>
            <div class="col-md-3">
                <!-- Bagian Delivery faq bagian footer -->
                <div class="faq">
                    <h3>FAQ</h3>
                    <p>Frequently Asked Question</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="social-media">
                    <h3>Social Media</h3>
                    <div class="social-icons">
                        <span class="facebook"><i class="ri-facebook-line"></i></span>
                        <span class="instagram"><i class="ri-instagram-line"></i></span>
                        <a href="/location">
                            <span class="location"><i class="ri-map-pin-fill" style="color: black;"></i></span>
                        </a>
                        
                    </div>
                    <div class="by">
                        @2024 Powered by Golden Grain.
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>