<header>
    <div class="container">
        <nav class="navbar">
            <ul class="nav-list">
                <!-- Link header navigasi 1 -->
                <div class="nav1">
                    <li><a href="/home">HOME</a></li>
                    <li><a href="/aboutus">ABOUT US</a></li>
                    <li><a href="/creations">THE CREATIONS</a></li>
                </div>
                <!-- Logo -->
                <div class="logo">
                    <img src="img/logo.jpg" alt="logo">
                </div>
                <!-- Link navigasi 2 -->
                <div class="nav2">
                    <li><a href="/location">LOCATION</a></li>
                    <li><a href="/contactus">CONTACT US</a></li>
                    <li><a href="/promo">News & Promo</a></li>
                    <li><a href="/register"><i class="ri-user-line"></i></a></li>
                </div>
            </ul>
        </nav>
    </div>
</header>