<header>
    <div class="container">
        <nav class="navbar">
            <ul class="nav-list">
                <!-- Link header navigasi 1 -->
                <div class="nav1">
                    <li><a href="/home">HOME</a></li>
                    <li><a href="/aboutus">ABOUT US</a></li>
                    <li><a href="/creations">THE CREATIONS</a></li>
                </div>
                <!-- Logo -->
                <div class="logo">
                    <img src="img/logo.jpg" alt="logo">
                </div>
                <!-- Link navigasi 2 -->
                <div class="nav2">
                    <li><a href="/contactus">CONTACT US</a></li>
                    <li><a href="/promo">NEWS & PROMO</a></li>
                    <li><a href="/shopnow">SHOP NOW</a></li>
                    <% if (user) { %> <!-- Tambahkan kondisi ini untuk memeriksa apakah ada pengguna yang login -->
                        <li><a href="/register"><i class="ri-user-line"></i> <%= user.name %></a></li>
                    <% } else { %> <!-- Jika tidak ada pengguna yang login, tampilkan tombol login -->
                        <li><a href="/register"><i class="ri-user-line"></i> LOGIN</a></li>
                    <% } %>
                    <% if (user) { %>
                        <li><a href="/logout"><i class="ri-logout-box-r-line"></i> Logout</a></li>
                    <% } %>
                </div>
            </ul>
        </nav>
    </div>
</header>