<!-- Bagian produk -->
<div class="page2" id="promo">
    <h4> Recomendation Product </h4>
    <section class="hot">

        <h3> Hot Product </h3>
    </section>
</div>

<!-- Bagian slider rekomendasi -->
<div class="rec">
    <!-- Wrapper slider dengan tombol sebelum dan sesudah -->
    <div class="slider-wrapper">
        <button id="sebelum-slide" class="slide-button material-symbols-rounded">chevron_left</button>
        <div class="image-list">
            <img src="../img/pastry1.png" alt="img1" class="image-item">
            <img src="../img/pastry2.png" alt="img2" class="image-item">
            <img src="../img/pastry3.png" alt="img3" class="image-item">
            <img src="../img/pastry4.png" alt="img4" class="image-item">
            <img src="../img/pastry5.png" alt="img5" class="image-item">
            <img src="../img/pastry6.png" alt="img6" class="image-item">
            <img src="../img/pastry7.png" alt="img7" class="image-item">
            <img src="../img/pastry8.png" alt="img8" class="image-item">
            <img src="../img/pastry9.png" alt="img9" class="image-item">
            <img src="../img/pastry10.png" alt="img10" class="image-item">

        </div>
        <button id="lanjut-slide" class="slide-button material-symbols-rounded">chevron_right</button>

    </div>
    <!-- Scrollbar slider -->
    <div class="slider-scrollbar">
        <div class="scrollbar-track">
            <div class="scrollbar-thumb"></div>
        </div>

    </div>

</div>
<div class="container2">
    <div class="page3">
        <h4> People Must Happy</h4>
        <section class="hot">

            <h3> OFFER THIS WEEK </h3>
        </section>
    </div>
    
        <img src="../img/gb2.jpg" class="gambar1" height="400px" width="600px" >
        

    <div class="gambar2">
        <img src="../img/gb3.jpg" height="180px" width="250px">
    </div>

    <div class="gambar3">
        <img src="../img/gb1.jpg" height="180px" width="250px">
    </div>

    <div class="gambar4">
        <img src="../img/gb4.jpg" height="400px" width="320px">
    </div>
</div>